@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #faf7f7;
}

:root {
  font-size: 70%;
  background-color: black;
}

html {
  background: url('/assets/images/bg_img_V2.png') center center / cover no-repeat fixed;
}

/*General settings for main tags*/
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
}

h1>span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.footer {
  color: whitesmoke;
  padding: 1rem 1rem;
  margin: 20px auto;
  text-align: center;
  ;
  font-size: 2.4rem;
}

/* Container information to use across all webpages */

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container>* {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Navigation Button settings */
.btn,
button {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #faf7f7;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #faf7f7;
  background-color: rgba(95, 95, 95, 0.5);
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1rem 0 #928d8c;
          box-shadow: 0 0.4rem 1rem 0 #928d8c;
  color: white;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

/*Any form with a screen*/
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  -webkit-box-shadow: 0 0.1rem 1.4rem 0 rgba(250, 247, 247, 0.5);
          box-shadow: 0 0.1rem 1.4rem 0 rgba(250, 247, 247, 0.5);
  color: rgba(95, 95, 95, 1);
}

input::-webkit-input-placeholder {
  color: #928d8c;
}

input::-moz-placeholder {
  color: #928d8c;
}

input:-ms-input-placeholder {
  color: #928d8c;
}

input::-ms-input-placeholder {
  color: #928d8c;
}

input::placeholder {
  color: #928d8c;
}

#footer-container {
  clear: left;
}

/*Game Page Styles*/

#question {
  font-size: 2.6rem;
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(95, 95, 95, 1);
  background-color: whitesmoke;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  color: black;
  background-color: rgba(95, 95, 95, 0.5);
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: black;
  background-color: rgba(250, 247, 247, 0.5);
}

.choice-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(250, 247, 247, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(250, 247, 247, 0.5);
}

.correct {
  background: #28a745;
}

.incorrect {
  background: #dc3545;
}

/*Hud = Heads up display*/
#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3.6rem;
  border: 0.2rem solid #faf7f7;
  margin-top: 1.75rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #faf7f7;
  width: 0%;
  padding-left: 0%;
}

/*High Score*/
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.high-score:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.modal-body>h4 {
  font-size: 2.4rem;
}

.modal-body>ul,
p {
  font-size: 1.8rem;
}

#play_link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

#play_link:hover {
  color: #928d8c;
}

#game_controls {
  text-align: right;
  display: -ms-inline-flexbox;
  padding-bottom: 40px;
}

#game_controls>i {
  font-size: 2.8rem;
  padding: 4px;
  margin-right: 5px;

}

i:hover {
  color: #928d8c;
  text-shadow: 0rem 0.2rem rgba(255, 255, 255, 0.8);
}

/*Settings for an iphone 5*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  #question,
  #progressText,
  .hud-prefix {
    font-size: 1.8rem;
  }

  #question>h2 {
    margin-bottom: 2rem;
  }

  #progressBar {
    width: 15rem;
    height: 3rem;
  }

  #progressBarFull {
    height: 2.8rem;
  }

  .hud-main-text {
    font-size: 4.4rem;
  }

  #question {
    text-align: left;
  }

  #game_controls>i {
    margin-top: 25px;
    padding-bottom: 20px;
  }

  .choice-prefix {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
  }

  .choice-text {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
  }

  .choice-container {
    height: 50px;
  }

  #finalScore {
    text-align: center;
  }

  .hud-main-text {
    font-size: 4rem;
  }

  p,
  li {
    font-size: 1.2rem;
    text-align: justify;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  h2 {
    margin-bottom: 3rem;
  }

}