@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@500&display=swap');

html {
    background: url('/assets/images/bg_img\ V2.png') center center / cover no-repeat fixed;
}

h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}
